@media (min-width: 768px) and (max-width: 1100px) {
  body {
    background: linear-gradient(to bottom, rgb(135, 85, 222) 0%, rgb(72, 41, 125) 100%);
  }
  
  canvas {
    top: 200px;
    width: 70%;
    border-radius: 0px;
  }

  #badge {
    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(40, 40, 40);
    color: rgb(212, 212, 212);
    height: auto;
    padding: 0px 16px;
    border: rgb(212, 212, 212) 2px solid;
    border-radius: 30px;
    z-index: -1;
    font-size: 10px;
  }

  button {
    position: relative;
    background-color: rgb(235, 235, 235);
    border: none;
    padding: 0px;
    border-radius: 12px;
    bottom: 10%;
  }
  
  #left-button {
    position: fixed;
    top: 75%;
    left: 64px;
  }

  #right-button {
    position: fixed;
    top: 75%;
    left: 160px;
  }

  #jump-button {
    position: fixed;
    top: 75%;
    left: 76%;
  }

  #enter-button {
    position: fixed;
    top: 58%;
    left: 88%;
  }
}
