@media (max-width: 768px) {
  body {
    background-color: rgb(31, 53, 173);
  }
  canvas {
    top: 22%;
    width: 95%;
    border-radius: 0px;
  }

  button {
    position: relative;
    background-color: rgb(73, 73, 73);
    border: none;
    padding: 0px;
    border-radius: 12px;
    bottom: 10%;
  }
  
  #left-button {
    position: fixed;
    top: 75%;
    left: 32px;
  }

  #right-button {
    position: fixed;
    top: 75%;
    left: 128px;
  }

  #jump-button {
    position: fixed;
    top: 75%;
    left: 60%;
  }

  #enter-button {
    position: fixed;
    top: 65%;
    left: 80%;
  }
}
