@media (min-width: 1101px) {
  button {
    visibility: hidden;
  }
}

html {
  height: 100%;
}

body {
  font-family: "Press Start 2P";
  background-color: rgb(182, 182, 182);
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  border-radius: 8px;
  border: rgb(49, 49, 49) 8px solid;
}

#badge {
  position: fixed;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(105, 54, 153);
  color: rgb(236, 236, 236);
  height: auto;
  padding: 0px 16px;
  border: rgb(236, 236, 236) 2px solid;
  border-radius: 30px;
  z-index: -1;
}

#controller-1 {
  position: fixed;
  bottom: 35%;
  right: 0%;
  transform: translate(-50%, -50%);
}

#controller-2 {
  position: fixed;
  bottom: 35%;
  left: 5%;
  transform: translate(-50%, -50%);
}

#purple-stripe {
  position: fixed;
  left: 30%;
  height: 100%;
  width: 180px;
  background-color: rgb(164, 137, 199);
  z-index: -2;
}

#overlay {
  position: fixed;
  top: 40%;
  left: 32%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: 4px rgb(210, 187, 119) outset;
  border-radius: 10px;
  min-width: 100px;
  max-width: 33%;
  text-align: center;
  padding: 20px;
}

#overlay-text {
  font-family: "Press Start 2P";
}

.invisible {
  visibility: hidden;
  animation: fadeOut 1s;
  opacity: 0;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.visible {
  position: absolute;
  animation: fadeIn 750ms, MoveUpDown 3s linear infinite;
  opacity: 1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}
